@import './shared/styles/mixins.scss';
.button-row button,
.button-row a {
  margin-right: 8px;
}

.main-header{
  max-height: 56px;
  padding-right: 0;
  padding-left: 0px;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    zoom: 80%;
    transition: zoom 1s linear;
  }
  .side-nav-trigger{
    margin-right: 0;
  }
  .logo-link{
    max-width: 50px;
    display: flex;
    .logo{
      max-width: 50px;
      max-height: 50px;
      margin-right: 5px;

    }
  }
  .header-title {
    overflow-x: hidden;
    .portrait & {
      outline: dashed #fff 1px;
    }
  }
}

.main-footer{
  display: flex;
  justify-content: center;
}
mat-sidenav-content.main {
  min-height: calc(100vh - 128px);
}
/* and (min-width: 860px)*/
@media screen and (min-height: 860px){
  mat-sidenav-content.main{
    min-height: calc(100vh - 156px);
  }
  .main-header{
    max-height: 60px;
  }
}
.side-nav-container {
  max-width: 250px;
}
.side-nav-command{
  min-width: inherit;
  padding: 0px;
}


.badge {
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  display: block;
  font-size: 11px;
  @include border-radius(49.9%);
  right: 1px;
  text-align: center !important;
  line-height: 16px;
  top: 3px;
  @include box-shadow(1px, 1px, 2px, null, #000);
  border: solid 1px;
}

.header-right-group {
  > button { margin: auto 5px;}
  .btn-vert {
    background-color: #b01f58;
    box-shadow: 1px 1px 1px #00000030;
    margin-right: 14px;
  }
}

.btn-login{
  .lock {
    font-size: 14px;
    color: #9E9E9E;
    position: absolute;
    margin-left: -5px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 415px){
  .header-title{
    display: none;
  }

}
