<mat-toolbar color="primary" role="header" [class.sticky]="fixedToTop" class="main-header">
  <button mat-fab color="primary" class="no-shadow side-nav-trigger" (click)="opened = !opened">
    <i class="material-icons">menu</i>
  </button>
  <img class="logo" src="../assets/images/logo.png">
  <h3 class="header-title flex">Angular7 with Angular Material playground</h3>

  <button mat-icon-button>
      <i class="material-icons">notifications</i>
      <span class="badge">3</span>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <i class="material-icons">more_vert</i>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Login</button>
      <button mat-menu-item>Sing in</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>

<mat-sidenav autosize class="side-nav-container" #sidenav [mode]="sideNavConfig.mode" [(opened)]="opened">

  <div>
    <button *ngIf="opened" mat-button (click)="sidenav.toggle()" class="side-nav-command" title="Toggle side menu">
      <i class="material-icons">chevron_left</i>
    </button>
    <button *ngIf="opened" mat-button (click)="toggleLabels()" class="side-nav-command" title="Toggle labels">
      <i class="material-icons">text_format</i>
    </button>
  </div>
  <!-- <app-side-menu [config]="sideNavConfig"></app-side-menu> -->

</mat-sidenav>

<mat-sidenav-content class="app-padding main">
<ul class="nav navbar-nav item">
  <!--
    <li>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>
  -->
  <li>
      <a [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
  </li>
</ul>

  <router-outlet></router-outlet>

</mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar color="accent" role="footer">
<h3>Powered by Angular Material</h3>
</mat-toolbar>
