<mat-nav-list>
  <a mat-list-item *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active" [title]="link.description">
    <button mat-mini-fab mat-raised-button>
      <mat-icon aria-label="Menu item icon">
        <i *ngIf="link.icon" class="material-icons">{{link.icon}}</i>
        <i class="icon" *ngIf="link.iconUrl" class="menu-icon-img" [style.background-image]="getBackground(link.iconUrl)" > </i>
        <i *ngIf="!link.icon && !link.iconUrl" class="material-icons">circle</i>
      </mat-icon>
    </button>
    <span [class.hide]="config.labels.hidden" class="menu-item-title">{{link.title}}</span>
  </a>
</mat-nav-list>
